/* ExpensePage.css */

.expense-container {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.expense-item {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.expense-description {
  font-weight: bold;
}

.expense-owner {
  font-weight: bold;
}

.involved-members-list {
  list-style: none;
  padding: 0;
}

.involved-member {
  margin: 5px 0;
}

.amount-to-pay {
  color: #e74c3c;
}

.hide {
  display: none;
}

.totalBalance {
  font-weight: bold;
  font-size: 0.65em;
  color: rgb(114, 114, 213)
}


.toggle-switch {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle-switch input[type="radio"] {
  display: none;
}

.toggle-switch label {
  cursor: pointer;
  background-color: #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch input[type="radio"]:checked + label {
  background-color: #007bff; /* Set your desired active color */
  color: #fff; /* Set text color for active state */
}

