/* OwnerExpensePage.css */

.owner-expense-container {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.expense-item {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.expense-description {
  font-weight: bold;
}

.involved-member {
  margin: 5px 0;
}

.amount-to-pay {
  color: #e74c3c;
}

.settled {
  color: #27ae60;
  font-weight: bold;
}
